*{
    margin: 0;
    padding: 0;
}
section{
    header{
        background-color:#eee;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        nav{
            margin-right: 20px;
            a{
                text-decoration: none;
                margin: 5px;
                font-size : 18px ;
                transition: font-size 3s , color 2.3s ease; 
                color:#3498DB ;
                font-weight: 600;             
            }
            a:hover{
              color: black;
              font-size: 20px;
                border-bottom:#D35400  2px solid;
           }            
        }
    }

    main{
        height: calc(100vh - 260px);
        width: 100vw; 
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .main-right{
        background-image: url('./assets/tour2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        transition: bacground-image-transform, 5s ease-in-out;
        width: 50%;
        }  
        
        .main-right:hover{
            background-image: url('./assets/tour3.jpg');
        }
        .main-left{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            margin-top: 30px;
            p{
                margin: 10px;
                font-size: 20px;
            }
           
        }
    }
    
    .subscribe{
        height: 200px;
        background-color: #eee;
        display: flex;
        align-items: center;
        align-content: center;
        width: 100%;
        justify-content: center;
        margin: auto;
        h4{
            margin: 20px;
        }
        form{
            margin: 20px;
            input{
                height: 40px;
                width: 650px;
                min-width: 400px;
            }

        }
        
    }

    Button{
        background-color: #3498DB;
        border: none; 
        padding: 10px;           
        height: 40px;
        transition: all 0.3s ease-in-out;
    }
    Button:hover{
     background-color: #fff;
     border: solid 1px #D35400;
    }
    
}